@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@200;300&display=swap');
*{
  font-family: Inter;
}
.full{
  display: flex;
  width:  1600px;
  height: 900px;
  align-items: flex-start;
  background-color: #F4F5F8;
  
}
.button{
display: flex;
  padding: 4px 6px;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
    border: 1px solid #ABABAB;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.10);
  width: 100px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.c1{
  width: 10rem;
  align-items: flex-start;
    align-self: stretch;
    background: #fbfbfb;
    border: 1px solid #ababab;
    border-radius: 12px;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
    position: absolute;
    top: 34px;
    z-index: 1;
    margin-left: 3rem;
    margin-top: 0.5rem;
}
.divv
{
  display: flex;
  justify-content: space-between;
  
  
}